<h1>Ambientes</h1>


<div id="questions">
  <%= turbo_frame_tag "ambientes"%>
    <table class="table">
      <thead>
        <tr>
          <th><%= link_to "Nome", :sort => "nome" %></th>
          <th>Descricao</th>
          <th> <%= link_to "Data de Criação",  id: "Data de Criação", :sort => "created_at"%></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">

      <% @ambientes.each do |ambiente| %>
          <tr>
            <td><%= ambiente.nome %></td>
            <td><%= ambiente.descricao %></td>
            <td><%= ambiente.created_at %></td>
            <td><%= link_to "Show Ambiente", user_ambiente_path(@user, ambiente), class: "btn btn-info"%></td>
            <td><%= link_to "Edit Ambiente", edit_user_ambiente_path(@user, ambiente), class:"btn btn-warning" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

</div>
<%= link_to "New Ambiente", new_user_ambiente_path, class: "btn btn-secondary" %>