<div id="<%= dom_id subitem %>">
  <p>
    <strong>Titulo:</strong>
    <%= subitem.titulo %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= subitem.texto %>
  </p>
  
  <p>
    <%= link_to 'Editar Sub-item', edit_ambiente_lembrete_path(@ambiente, lembrete) %>
    <%= button_to "Deletar Sub-item", ambiente_lembrete_path(@ambiente, lembrete), method: :delete %>
  </p>
</div>
