<%= form_with scope: :subitem, url: new_ambiente_lembrete_subitem_path(@ambiente, @lembrete, @subitem), local: true do |form| %>
  <% if @subitem.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@subitem.errors.count, "error") %> prohibited this subitem from being saved:</h2>

      <ul>
        <% @subitem.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :texto %>
    <%= form.text_field :texto %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<br>

<div>
  <%= link_to "Voltar", ambiente_lembretes_path(@ambiente) %>
</div>
