<div id="<%= dom_id subitems %>">
  <p>
    <strong>Titulo:</strong>
    <%= subitems.titulo %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= subitems.texto %>
  </p>
  
  <p>
    <%= link_to 'Editar Subitem', edit_ambiente_lembrete_subitem_path(@ambiente, @lembrete, subitems) %>
    <%= button_to "Deletar Subitem", ambiente_lembrete_subitem_path(@ambiente, @lembrete, subitems), method: :delete %>
  </p>
</div>
