
<%= form_with(model: [current_user, @ambiente, lembrete], local: true) do |form| %>
  <% if lembrete.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lembrete.errors.count, "error") %> prohibited this lembrete from being saved:</h2>

      <ul>
        <% lembrete.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :texto, style: "display: block" %>
    <%= form.text_field :texto %>
  </div>

  <div>
    <%= form.label :data_de_vencimento, style: "display: block" %>
    <%= form.datetime_field :expire_at, min: Time.now, step: 1 %>
  </div>

  <div>
    <%= form.label :prioridade, style: "display: block" %>
    <%= form.select :prioridade, [["Prioridade 1", "P1"], ["Prioridade 2", "P2"], ["Prioridade 3", "P3"], ["Prioridade 4", "P4"]], selected: "P1" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, value:current_user.email %>
  </div>
  
  <div>
    <table>
      <tr>
        <%= form.label :endereco, style: "display: block" %>
      </tr>
      <tr>
        <td> <%= form.text_field :endereco %> </td>
        <td> <%= form.text_field :latalt, style: "display: none" %> </td>
      </tr>

    </table>
  </div>

  <div id="map" style="height:25%; width:25%;"></div>

  <input type="button" value = "aaaaaaaa" onClick="document.getElementById('lembrete_endereco').place_changed()" />
  <input type="button" value = "Mostrar Mapa" style="position: absolute;background-color:#FFFFFF" onClick="document.getElementById('map').style.position = 'static'" />
  <br/>
  <input type="button" value = "Esconder Mapa" style="position: absolute;background-color:#FFFFFF" onClick="document.getElementById('map').style.position = 'relative'" />
  <br/>
  <br/>


  <div>
    <%= form.submit %>
  </div>
<% end %>


