<%= form_with(model: [@ambiente, lembrete], local: true) do |form| %>
  <% if lembrete.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lembrete.errors.count, "error") %> prohibited this lembrete from being saved:</h2>

      <ul>
        <% lembrete.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :texto, style: "display: block" %>
    <%= form.text_field :texto %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
