<div id="<%= dom_id lembrete %>">
  <p>
    <strong>Titulo:</strong>
    <%= lembrete.titulo %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= lembrete.texto %>
  </p>

  <% if !lembrete.expire_at.nil? %>
    <p>
      <strong>Data de expiração:</strong>
      <%= lembrete.expire_at.strftime("%d/%m/%Y, %H:%M:%S") %>
    </p>

    <p>
      <strong>Tempo restante:</strong>
      <%= calcula_countdown(lembrete.expire_at - DateTime.now) %> 
      <%# funcao em lembretes_helper.rb %>
    </p>
    
    <p>
      <strong>Prioridade:</strong>
      <%= lembrete.prioridade %> 
      <%# funcao em lembretes_helper.rb %>
    </p>
  <% end %>

  <p>
    <strong>Email de notificação:</strong>
    <%= lembrete.email %>
  </p>

  <p>
    <strong>Endereço:</strong>
    <%= lembrete.endereco %>
    <input id="lembrete_endereco" type="text" value=<%= lembrete.endereco %> style="display:none">
  </p>

  <input id="txtLat" type="text" value=<%= lembrete.latalt.split(';')[0] %> style="display:none">
  <input id="txtAlt" type="text" value=<%= lembrete.latalt.split(';')[1] %> style="display:none">


  <div id="map" style="height:25%; width:25%;"></div>
  
  <input type="button" value = "Mostrar Mapa" style="position: absolute;background-color:#FFFFFF" onClick="document.getElementById('map').style.position = 'static'" />
  <br/>
  <input type="button" value = "Esconder Mapa" style="position: absolute;background-color:#FFFFFF" onClick="document.getElementById('map').style.position = 'relative'" />
  <br/>
  <br/>
  

  <p>
    <%= link_to 'Mostrar Sub-itens', user_ambiente_lembrete_subitems_path(current_user, @ambiente, lembrete) %>
  </p>
</div>
