<div id="<%= dom_id lembrete %>">
  <p>
    <h1>Lembrete '<%= lembrete.titulo %>' </h1>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= lembrete.texto %>
  </p>

  <% if !lembrete.expire_at.nil? %>
    <p>
      <strong>Data de expiração:</strong>
      <%= lembrete.expire_at.strftime("%d/%m/%Y, %H:%M:%S") %>
    </p>

    <p>
      <strong>Tempo restante:</strong>
      <%= calcula_countdown(lembrete.expire_at - DateTime.now) %> 
      <%# funcao em lembretes_helper.rb %>
    </p>
    
    <p>
      <strong>Prioridade:</strong>
      <%= lembrete.prioridade %> 
      <%# funcao em lembretes_helper.rb %>
    </p>
  <% end %>

  <p>
    <strong>Email de notificação:</strong>
    <%= lembrete.email %>
  </p>
</div>
