<div id="<%= dom_id lembrete %>">
  <p>
    <strong>Titulo:</strong>
    <%= lembrete.titulo %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= lembrete.descricao %>
  </p>
  
  <p>
    <%= link_to 'Editar lembrete', edit_user_ambiente_lembrete_path(current_user, @ambiente, lembrete) %>
    <%= button_to "Deletar lembrete", user_ambiente_lembrete_path(current_user, @ambiente, lembrete), method: :delete %>
  </p>
</div>
