<p style="color: green"><%= notice %></p>

<h1>Lembretes no ambiente <%= @ambiente.nome %> </h1>

<div id="lembretes">
  <% @lembretes.each do |lembrete| %>
    <%= render lembrete %>
  <% end %>
</div>

<%= link_to "New lembrete", new_user_ambiente_lembrete_path %> <br>
<%= link_to 'Voltar para ambiente', user_ambiente_path(current_user, @ambiente) %>
